@import "../../less/style";

.SignIn {
    height: 100%;
    background-color: #3C4C55;
}

.SignIn__form {
    width: 40%;
    margin: 0 auto;
    padding-top: 7em;

    .on-narrow-and-medium({
        width: 90%;
    })
}

.SignIn__email, .SignIn__password {
    display: block;
    outline: none;
    transition: all 0.3s ease-out;
    width: 100%;
    padding: 10px 3px;
    margin: 17px 0;
    transition: all 0.3s ease-out;
    box-sizing: border-box;
    border-left: solid white 5px;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;

    &:focus {
        border-left: solid #55ACEE 5px;
        color: rgb(78, 78, 78);
    }
    &::placeholder {
        color: #DCDCDC;;
    }
}

.SignIn__submit-button {
    width: 100%;
    background-color: #55ACEE; 
    color: white;
    padding: 10px 0px;
    transition: all 0.1s ease-out;
    cursor: pointer;

    &:hover {
        background-color: rgb(40, 152, 238);    
    }
}